.ui-dialog, .ui-button, .ui-slider-handle
{
    outline:none !important;
}
.ui-dialog-content
{
    min-height:5px !important;
}

.ui-dialog-buttonpane
{
    margin:0px !important;
    padding:0px !important;
}


.ui-dialog .ui-dialog-content 
{
    padding: 0px 0px 0px 0px !important;
}

.ui-dialog .ui-widget-content
{
    /*
    border-top-width: 1px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    background-color: transparent !important;
    */
}
.ui-dialog
{
    padding: 5px !important;
}
.ui-dialog .ui-dialog-titlebar 
{
    padding: 5px !important;
    margin: 0px 0px 5px 0px !important;
}

.ui-dialog .ui-dialog-titlebar-close 
{
    right: 0px !important;
}
.ui-dialog .ui-dialog-buttonpane button 
{
    margin: 0px 0px 0px 0px !important;
}
.ui-dialog .ui-dialog-buttonpane
{
    margin: 5px 0px 0px 0px !important;
    padding: 5px 0px 0px 0px !important;
}
.ui-dialog .ui-dialog-title 
{
    float: none !important;
    margin: 0px !important;
    white-space: normal !important;
} 
